<ion-app class="container">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{menuTitle}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item (click)="onMenuClose()" button routerLink="home">Home</ion-item>
      <ion-item (click)="onMenuClose()" button routerLink="messages">Messages</ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">

    <ion-router-outlet class="outlet"></ion-router-outlet>
    
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="messages">
          <ion-icon name="albums-outline"></ion-icon>
          Messages
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>